In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../../input/data/ENE2022.csv', low_memory=False, sep=';')
data

,ano_trimestre,mes_central,ano_encuesta,mes_encuesta,region,provincia,r_p_c,estrato,tipo,conglomerado,...,tpi,id,ftp,cae_general,cae_especifico,categoria_ocupacion,r_p_rev4cl_caenes,ocup_form,sector,fact_anual
0,2022,2,2022,1,8,82,8205,8200111,1,28302,...,0.0,NaN,NaN,1,1,2,7.0,1.0,1.0,"87,5912781336487"
1,2022,2,2022,1,16,163,16302,16300120,3,41634,...,NaN,0.0,0.0,9,13,0,NaN,NaN,NaN,"17,8513047485843"
2,2022,2,2022,1,6,61,6101,6100112,1,31626,...,0.0,NaN,NaN,1,1,5,20.0,1.0,3.0,"70,6618596745019"
3,2022,2,2022,1,13,131,13112,13100411,1,11697,...,NaN,0.0,0.0,9,15,0,NaN,NaN,NaN,"109,538372993516"
4,2022,2,2022,1,6,63,6305,6300121,3,31063,...,NaN,0.0,0.0,9,13,0,NaN,NaN,NaN,"26,1866491023927"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369176,2022,11,2022,12,2,22,2201,2200110,1,40050,...,NaN,0.0,0.0,9,13,0,NaN,NaN,NaN,"40,2111450715535"
369177,2022,11,2022,12,2,21,2101,2100011,1,15328,...,0.0,NaN,NaN,1,1,3,7.0,2.0,1.0,"70,150494683495"
369178,2022,11,2022,12,12,121,12101,12000112,1,33217,...,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN,"17,3834443005335"
369179,2022,11,2022,12,14,141,14101,14100120,3,41484,...,0.0,NaN,NaN,1,1,2,13.0,1.0,1.0,"35,9929129965523"
369180,2022,11,2022,12,13,135,13501,13500122,3,13334,...,1.0,NaN,NaN,1,1,3,8.0,2.0,2.0,"71,7304072166812"

In [3]:
# Copiamos df original en variable para procesar
datos_proc = data.copy()

In [4]:
# ExploraciÃ³n de variables I
print(data.shape, "\n\n")
print(data.columns, "\n\n")
print(data.dtypes, "\n\n")
print(data['sexo'].value_counts(), "\n\n")
print(data['region'].value_counts(), "\n\n")
print(data['edad'].value_counts(), "\n\n")
print(data['edad'].describe(), "\n\n")

(369181, 173)


Index(['ano_trimestre', 'mes_central', 'ano_encuesta', 'mes_encuesta',
       'region', 'provincia', 'r_p_c', 'estrato', 'tipo', 'conglomerado',
       ...
       'tpi', 'id', 'ftp', 'cae_general', 'cae_especifico',
       'categoria_ocupacion', 'r_p_rev4cl_caenes', 'ocup_form', 'sector',
       'fact_anual'],
      dtype='object', length=173)


ano_trimestre            int64
mes_central              int64
ano_encuesta             int64
mes_encuesta             int64
region                   int64
                        ...
categoria_ocupacion      int64
r_p_rev4cl_caenes      float64
ocup_form              float64
sector                 float64
fact_anual              object
Length: 173, dtype: object


sexo
2    195438
1    173743
Name: count, dtype: int64


region
13    65025
8     42302
5     41958
7     28592
10    26586
4     23115
6     21960
9     18778
16    16486
14    16394
2     15282
3     13530
15    13091
12     8844
11     8695
1      8543
Name: count, dtype: int64


edad
11     5413
15     5360
22     5314
13     5297
12     5254
       ...
100      28
101      25
102      13
104       2
106       1
Name: count, Length: 105, dtype: int64


count    369181.000000
mean         39.732370
std          23.279172
min           0.000000
25%          20.000000
50%          39.000000
75%          59.000000
max         106.000000
Name: edad, dtype: float64

In [5]:
# ExploraciÃ³n de variables II
print(data['b1'].value_counts().sort_index(), '\n\n')
print(data['b13_rev4cl_caenes'].value_counts().sort_index(), '\n\n')
print(data['b14_rev4cl_caenes'].value_counts().sort_index(), '\n\n')
print(data['r_p_rev4cl_caenes'].value_counts().sort_index(), '\n\n')

b1
1.0       4618
2.0      17975
3.0      16527
4.0       6920
5.0      31311
6.0       6178
7.0      19923
8.0      12055
9.0      32602
10.0       578
999.0      173
Name: count, dtype: int64


b13_rev4cl_caenes
1.0      1039
2.0       387
3.0       895
4.0        28
5.0       198
6.0      2715
7.0       428
8.0      1005
9.0      1083
10.0      140
11.0       22
12.0       25
13.0      345
14.0     4620
15.0     5498
16.0      114
17.0      278
18.0       18
19.0      136
20.0       72
21.0        1
999.0      16
Name: count, dtype: int64


b14_rev4cl_caenes
1.0      15697
2.0       5697
3.0      14399
4.0        756
5.0       1122
6.0      12765
7.0      27124
8.0       8549
9.0       6472
10.0      1946
11.0      1860
12.0      1313
13.0      3924
14.0      3952
15.0      9410
16.0     12828
17.0      9282
18.0      1318
19.0      4378
20.0      5671
21.0        17
999.0      380
Name: count, dtype: int64


r_p_rev4cl_caenes
1.0      15597
2.0       2988
3.0      13906
4.0        424
5.0       1133
6.0      14453
7.0      26173
8.0       8902
9.0       7453
10.0      1804
11.0      1701
12.0      1146
13.0      4185
14.0      8303
15.0     13459
16.0      8771
17.0      6939
18.0      1177
19.0      4332
20.0      5642
21.0        17
999.0      355
Name: count, dtype: int64

In [6]:
# Diccionario de RecodificaciÃ³n
ciiu4 = {
    1: 'A Agricultura, ganaderÃ­a, silvicultura y pesca',
    2: 'B ExplotaciÃ³n de minas y canteras',
    3: 'C Industrias manufactureras',
    4: 'D Suministro de electricidad, gas, vapor y aire acondicionado',
    5: 'E Suministro de agua; evacuaciÃ³n de aguas residuales, gestiÃ³n de desechos y descontaminaciÃ³n',
    6: 'F ConstrucciÃ³n',
    7: 'G Comercio al por mayor y al por menor; reparaciÃ³n de vehiculos automotores y motocicletas',
    8: 'H Transporte y almacenamiento',
    9: 'I Actividades de alojamiento y de servicio de comidas',
    10: 'J InformaciÃ³n y comunicaciones',
    11: 'K Actividades financieras y de seguros',
    12: 'L Actividades inmobiliarias',
    13: 'M Actividades profesionales, cientÃ­ficas y tecnicas',
    14: 'N Actividades de servicios administrativos y de apoyo',
    15: 'O AdministraciÃ³n pÃºblica y defensa; planes de seguridad social de afiliaciÃ³n obligatoria',
    16: 'P EnseÃ±anza',
    17: 'Q Actividades de atenciÃ³n de la salud humana y de asistencia social',
    18: 'R Actividades artÃ­sticas, de entretenimiento y recreativas',
    19: 'S Otras actividades de servicios',
    20: 'T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio',
    21: 'U Actividades de organizaciones y Ã³rganos extraterritoriales',
    999: '',
}

In [7]:
# Procesamiento
datos_proc = (
    datos_proc
    .assign(
        sexo=lambda x: x['sexo'].map({1: "Hombre", 2: "Mujer"}),

        edad_tr=lambda x: np.select(
            [x['edad'].between(18, 39), 
             x['edad'].between(40, 64), 
             x['edad'] >= 65],
            ["Jovenes", "Adultos", "Adultos mayores"],
            default="Desconocido" 
        ),

        sexo_edad=lambda x: np.select(
            [(x['sexo'] == "Mujer") & (x['edad_tr'] == "Jovenes"),
             (x['sexo'] == "Mujer") & (x['edad_tr'] == "Adultos"),
             (x['sexo'] == "Mujer") & (x['edad_tr'] == "Adultos mayores"),
             (x['sexo'] == "Hombre") & (x['edad_tr'] == "Jovenes"),
             (x['sexo'] == "Hombre") & (x['edad_tr'] == "Adultos"),
             (x['sexo'] == "Hombre") & (x['edad_tr'] == "Adultos mayores")],
            ["Mujer joven", "Mujer adulta", "Mujer mayor", "Hombre joven", "Hombre adulto", "Hombre mayor"],
            default="Desconocido"
        ),
        
        region=lambda x: x['region'].map({
            1: "RegiÃ³n de TarapacÃ¡",
            2: "RegiÃ³n de Antofagasta",
            3: "RegiÃ³n de Atacama",
            4: "RegiÃ³n de Coquimbo",
            5: "RegiÃ³n de ValparaÃ­so",
            6: "RegiÃ³n de O'Higgins",
            7: "RegiÃ³n del Maule",
            8: "RegiÃ³n del BiobÃ­o",
            9: "RegiÃ³n de La AraucanÃ­a",
            10: "RegiÃ³n de Los Lagos",
            11: "RegiÃ³n de AysÃ©n",
            12: "RegiÃ³n de Magallanes y AntÃ¡rtica",
            13: "RegiÃ³n Metropolitana",
            14: "RegiÃ³n de Los RÃ­os",
            15: "RegiÃ³n de Arica y Parinacota",
            16: "RegiÃ³n de Ã‘uble"
        }),

        b1=lambda x: x['b1'].map({
            1: 'Directores y gerentes',
            2: 'Profesionales cientÃ­ficos e intelectuales',
            3: 'TÃ©cnicos y profesionales de nivel medio',
            4: 'Personal de apoyo administrativo',
            5: 'Trabajadores de los servicios y vendedores de comercios y mercados',
            6: 'Agricultores y trabajadores calificados agropecuarios, forestales y pesqueros',
            7: 'Oficiales, operarios y artesanos de artes mecÃ¡nicas y de otros oficios',
            8: 'Operadores de instalaciones y mÃ¡quinas y ensambladores',
            9: 'Ocupaciones elementales',
            10: 'Otros no identificados',
            999: np.nan,
        }),
        
       educa=lambda x: np.select(
            [x['nivel'].notna() & x['nivel'].isin([0, 1, 2, 88, 99, 902]),
            x['nivel'].notna() & (x['nivel'] == 3),
            x['nivel'].notna() & x['nivel'].isin([4, 6]),
            x['nivel'].notna() & x['nivel'].isin([5, 7, 8]) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & x['nivel'].isin([5, 7, 8]) & (x['termino_nivel'] == 2),
            x['nivel'].notna() & (x['nivel'] == 9) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & (x['nivel'] == 9) & (x['termino_nivel'] == 2),
            x['nivel'].notna() & x['nivel'].isin([10, 11, 12]) & (x['termino_nivel'] == 1),
            x['nivel'].notna() & x['nivel'].isin([10, 11, 12]) & (x['termino_nivel'] == 2)],
            ["Otro nivel educativo", "EducaciÃ³n BÃ¡sica", "EducaciÃ³n Media",
            "TÃ©cnica completa", "TÃ©cnica incompleta", "Universitaria completa", 
            "Universitaria incompleta", "Postgrado", "Universitaria completa"],
            default="Otro nivel educativo"
        ),
        
        categoria_ocupacion=lambda x: x['categoria_ocupacion'].map({
            0: 'No corresponde',
            1: 'Empleador',
            2: 'Cuenta propia (independiente)',
            3: 'Asalariado sector privado',
            4: 'Asalariado sector pÃºblico',
            5: 'Personal de servicio domÃ©stico puertas afuera',
            6: 'Personal de servicio domÃ©stico puertas adentro',
        }),
        
        ocup_form=lambda x: x['ocup_form'].map({
            1: 'Ocupado formal',
            2: 'Ocupado informal',
        }),
        
        proveedor=lambda x: x['proveedor'].map({
            0: 'No corresponde',
            1: 'Proveedor principal',
        }),
        
        parentesco=lambda x: x['parentesco'].map({
            1: 'Persona proveedora principal',
            2: 'CÃ³nyuge',
            3: 'Conviviente',
            4: 'Hijo/a o hijastro/a',
            5: 'Yerno o nuera',
            6: 'Nieto/a',
        }))
        
    .rename(columns={'idrph': 'id_persona'}) # Renombrar columnas (en caso que corresponda)
    .drop_duplicates(subset=['id_persona']) # Eliminar duplicados en columnas (en caso que corresponda)
    .dropna(subset=['id_persona']) # Eliminar NaN de columnas (en caso que corresponda)
    .query('edad >= 18 and activ == 1') # Mantener rango de columnas (en caso que corresponda)
    .replace({col: ciiu4 for col in datos_proc.columns if 'rev4cl' in col}) # Reemplazar valores en columnas que contienen 'rev4cl'
)

In [8]:
datos_proc = datos_proc[['id_persona', 
                         'sexo', 
                         'edad', 
                         'edad_tr', 
                         'sexo_edad', 
                         'region', 
                         'educa',
                         'habituales',
                         'efectivas',
                         'b1',
                         'activ',
                         'categoria_ocupacion',
                         'ocup_form',
                         'proveedor', 
                         'parentesco',
                         ] + 
                        [col for col in datos_proc.columns if col.startswith('c2_1')] +
                        [col for col in datos_proc.columns if 'rev4cl' in col]]

datos_proc.rename(columns={
    'c2_1_1': 'hrs_diarias',
    'c2_1_2': 'dias_sem',
    'c2_1_3': 'hrs_sem',
    'b1': 'grupoOcup_ciuo08',
    'b13_rev4cl_caenes': 'empresaPaga_ciiu4',
    'b14_rev4cl_caenes': 'empresaTrabaja_ciiu4',
    'r_p_rev4cl_caenes': 'empresaDueno_ciiu4',
}, inplace=True)

In [9]:
# RevisiÃ³n de variables I
print(datos_proc.shape, "\n\n")
print(datos_proc.columns, "\n\n")
print(datos_proc.dtypes, "\n\n")
print(datos_proc['sexo'].value_counts(), '\n\n')
print(datos_proc['edad_tr'].value_counts(), '\n\n')
print(datos_proc['sexo_edad'].value_counts(), '\n\n')
print(datos_proc['region'].value_counts(), '\n\n')
print(datos_proc['educa'].value_counts(), '\n\n')

(72152, 21)


Index(['id_persona', 'sexo', 'edad', 'edad_tr', 'sexo_edad', 'region', 'educa',
       'habituales', 'efectivas', 'grupoOcup_ciuo08', 'activ',
       'categoria_ocupacion', 'ocup_form', 'proveedor', 'parentesco',
       'hrs_diarias', 'dias_sem', 'hrs_sem', 'empresaPaga_ciiu4',
       'empresaTrabaja_ciiu4', 'empresaDueno_ciiu4'],
      dtype='object')


id_persona                int64
sexo                     object
edad                      int64
edad_tr                  object
sexo_edad                object
region                   object
educa                    object
habituales              float64
efectivas               float64
grupoOcup_ciuo08         object
activ                   float64
categoria_ocupacion      object
ocup_form                object
proveedor                object
parentesco               object
hrs_diarias             float64
dias_sem                float64
hrs_sem                 float64
empresaPaga_ciiu4        object
empresaTrabaja_ciiu4     object
empresaDueno_ciiu4       object
dtype: object


sexo
Hombre    40306
Mujer     31846
Name: count, dtype: int64


edad_tr
Adultos            36820
Jovenes            30038
Adultos mayores     5294
Name: count, dtype: int64


sexo_edad
Hombre adulto    20513
Mujer adulta     16307
Hombre joven     16180
Mujer joven      13858
Hombre mayor      3613
Mujer mayor       1681
Name: count, dtype: int64


region
RegiÃ³n Metropolitana                14914
RegiÃ³n de ValparaÃ­so                 8070
RegiÃ³n del BiobÃ­o                    7573
RegiÃ³n del Maule                     5287
RegiÃ³n de O'Higgins                  4298
RegiÃ³n de Los Lagos                  4285
RegiÃ³n de Coquimbo                   4262
RegiÃ³n de La AraucanÃ­a               3486
RegiÃ³n de Los RÃ­os                   3170
RegiÃ³n de Ã‘uble                      3140
RegiÃ³n de Antofagasta                2948
RegiÃ³n de Atacama                    2702
RegiÃ³n de Arica y Parinacota         2284
RegiÃ³n de Magallanes y AntÃ¡rtica     2032
RegiÃ³n de AysÃ©n                      1995
RegiÃ³n de TarapacÃ¡                   1706
Name: count, dtype: int64


educa
EducaciÃ³n Media             23956
TÃ©cnica completa            15592
EducaciÃ³n BÃ¡sica            12640
Universitaria completa      12176
Universitaria incompleta     3486
TÃ©cnica incompleta           2047
Postgrado                    1742
Otro nivel educativo          513
Name: count, dtype: int64

In [10]:
# RevisiÃ³n de variables II
print(datos_proc['grupoOcup_ciuo08'].value_counts().sort_index(), '\n\n')
print(datos_proc['empresaPaga_ciiu4'].value_counts().sort_index(), '\n\n')
print(datos_proc['empresaTrabaja_ciiu4'].value_counts().sort_index(), '\n\n')
print(datos_proc['empresaDueno_ciiu4'].value_counts().sort_index(), '\n\n')

grupoOcup_ciuo08
Agricultores y trabajadores calificados agropecuarios, forestales y pesqueros     2849
Directores y gerentes                                                             2364
Ocupaciones elementales                                                          15530
Oficiales, operarios y artesanos de artes mecÃ¡nicas y de otros oficios            9683
Operadores de instalaciones y mÃ¡quinas y ensambladores                            5885
Otros no identificados                                                             267
Personal de apoyo administrativo                                                  3313
Profesionales cientÃ­ficos e intelectuales                                         8831
Trabajadores de los servicios y vendedores de comercios y mercados               15335
TÃ©cnicos y profesionales de nivel medio                                           7990
Name: count, dtype: int64


empresaPaga_ciiu4
                                                                                                                                                       13
A Agricultura, ganaderÃ­a, silvicultura y pesca                                                                                                        530
B ExplotaciÃ³n de minas y canteras                                                                                                                     186
C Industrias manufactureras                                                                                                                           433
D Suministro de electricidad, gas, vapor y aire acondicionado                                                                                          15
E Suministro de agua; evacuaciÃ³n de aguas residuales, gestiÃ³n de desechos y descontaminaciÃ³n                                                           88
F ConstrucciÃ³n                                                                                                                                       1313
G Comercio al por mayor y al por menor; reparaciÃ³n de vehiculos automotores y motocicletas                                                            232
H Transporte y almacenamiento                                                                                                                         511
I Actividades de alojamiento y de servicio de comidas                                                                                                 476
J InformaciÃ³n y comunicaciones                                                                                                                         67
K Actividades financieras y de seguros                                                                                                                 16
L Actividades inmobiliarias                                                                                                                            14
M Actividades profesionales, cientÃ­ficas y tecnicas                                                                                                   179
N Actividades de servicios administrativos y de apoyo                                                                                                2209
O AdministraciÃ³n pÃºblica y defensa; planes de seguridad social de afiliaciÃ³n obligatoria                                                             2539
P EnseÃ±anza                                                                                                                                            57
Q Actividades de atenciÃ³n de la salud humana y de asistencia social                                                                                   138
R Actividades artÃ­sticas, de entretenimiento y recreativas                                                                                              9
S Otras actividades de servicios                                                                                                                       90
T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio      33
Name: count, dtype: int64


empresaTrabaja_ciiu4
                                                                                                                                                       210
A Agricultura, ganaderÃ­a, silvicultura y pesca                                                                                                        7421
B ExplotaciÃ³n de minas y canteras                                                                                                                     2637
C Industrias manufactureras                                                                                                                           7025
D Suministro de electricidad, gas, vapor y aire acondicionado                                                                                          353
E Suministro de agua; evacuaciÃ³n de aguas residuales, gestiÃ³n de desechos y descontaminaciÃ³n                                                           548
F ConstrucciÃ³n                                                                                                                                        6307
G Comercio al por mayor y al por menor; reparaciÃ³n de vehiculos automotores y motocicletas                                                           13426
H Transporte y almacenamiento                                                                                                                         4163
I Actividades de alojamiento y de servicio de comidas                                                                                                 3244
J InformaciÃ³n y comunicaciones                                                                                                                         974
K Actividades financieras y de seguros                                                                                                                 905
L Actividades inmobiliarias                                                                                                                            636
M Actividades profesionales, cientÃ­ficas y tecnicas                                                                                                   1959
N Actividades de servicios administrativos y de apoyo                                                                                                 1907
O AdministraciÃ³n pÃºblica y defensa; planes de seguridad social de afiliaciÃ³n obligatoria                                                              4508
P EnseÃ±anza                                                                                                                                           5960
Q Actividades de atenciÃ³n de la salud humana y de asistencia social                                                                                   4568
R Actividades artÃ­sticas, de entretenimiento y recreativas                                                                                             627
S Otras actividades de servicios                                                                                                                      2133
T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio     2631
U Actividades de organizaciones y Ã³rganos extraterritoriales                                                                                            10
Name: count, dtype: int64


empresaDueno_ciiu4
                                                                                                                                                       202
A Agricultura, ganaderÃ­a, silvicultura y pesca                                                                                                        7370
B ExplotaciÃ³n de minas y canteras                                                                                                                     1380
C Industrias manufactureras                                                                                                                           6783
D Suministro de electricidad, gas, vapor y aire acondicionado                                                                                          216
E Suministro de agua; evacuaciÃ³n de aguas residuales, gestiÃ³n de desechos y descontaminaciÃ³n                                                           539
F ConstrucciÃ³n                                                                                                                                        7099
G Comercio al por mayor y al por menor; reparaciÃ³n de vehiculos automotores y motocicletas                                                           12942
H Transporte y almacenamiento                                                                                                                         4376
I Actividades de alojamiento y de servicio de comidas                                                                                                 3674
J InformaciÃ³n y comunicaciones                                                                                                                         887
K Actividades financieras y de seguros                                                                                                                 837
L Actividades inmobiliarias                                                                                                                            551
M Actividades profesionales, cientÃ­ficas y tecnicas                                                                                                   2093
N Actividades de servicios administrativos y de apoyo                                                                                                 3975
O AdministraciÃ³n pÃºblica y defensa; planes de seguridad social de afiliaciÃ³n obligatoria                                                              6341
P EnseÃ±anza                                                                                                                                           4127
Q Actividades de atenciÃ³n de la salud humana y de asistencia social                                                                                   3418
R Actividades artÃ­sticas, de entretenimiento y recreativas                                                                                             567
S Otras actividades de servicios                                                                                                                      2146
T Actividades de los hogares como empleadores; actividades no diferenciadas de los hogares como productores de bienes y servicios para uso propio     2619
U Actividades de organizaciones y Ã³rganos extraterritoriales                                                                                            10
Name: count, dtype: int64

In [11]:
# Guardar datos
datos_proc.to_csv("../../output/data/ENE2022_proc.csv", index=False)